@forward 'login';

/* Garante que o video ocupe todo o espaço disponível sem overflow */
#reader video {
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;
    border-radius: 0 !important;
}

/* Esconde elementos visuais padrão da biblioteca se sobrarem */
#reader__dashboard_section_csr span, 
#reader__dashboard_section_swaplink {
    display: none !important;
}

/* Fundo preto para o scanner */
.bg-black {
    background-color: #000;
}