@use '../abstracts/index' as *;

.bg-secondary-color-pes {
  background-color: $secondary-color-pes;
}

.bg-primary-color-pes {
  background-color: $primary-color-pes;
}

.bg-drawn{
  background: url("/assets/img/bg-draws-25.png") repeat;
  background-color: #681323;
  background-size: 25%;

  &-50 {
    @extend .bg-drawn;
    background-size: 50%;
  }

  &-75 {
    @extend .bg-drawn;
    background-size: 75%;
  }

  &-100 {
    @extend .bg-drawn;
    background-size: 100%;
  }
}

.form-check-input {

  &:focus {
    border-color: $border-color;
    box-shadow: 0 0 0 0.25rem $shadow-color;
  }

  &:checked {
    background-color: $link-color;
    border-color: $link-color;
  }
}

.form-select:focus {
  border-color: $border-color;
  box-shadow: 0 0 0 0.25rem $shadow-color;
}

.form-control:focus {
  border-color: $border-color;
  box-shadow: 0 0 0 0.25rem $shadow-color;
}

.accordion-button:focus {
  border-color: $border-color;
  box-shadow: 0 0 0 0.25rem $shadow-color;
}

.bg-primary-pes {
  background-color: $primary-color-pes !important;
}

.bg-secondary-pes {
  background-color: $secondary-color-pes !important;
}