.external-wrapper {
  height: 100%;
  min-height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.internal-wrapper {
  width: 100%;
  margin: 3%;
  padding: 1rem 1.5rem;
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
}